#t7_text_overlay	{
	width: 820px;
	}
	
#t7_content_front h3{
	margin-bottom: 20px;
	}

#t7_subnav h2	{	
	margin-top: 8px;
	margin-bottom: 6px;
	}
	
#t7cycle .t7_titleprint	{
	top: 24px !important;
	}
	
#t7cyclenav.t7cyclenav	{
	top:125px;
	}
	
